//colors
    //background
$color-primary: #7AFFDD;
$color-secundary: #ED7AFF;
    //background-container
$color-bgcontainer: #f5f5dc;
    //text
$color-text: #778899;
$color-under: #00ffbf;
    //inputs
$color-bginput: #778899;
$color-fontinput: #f5f5f5;
$color-place: #d3d3d3;
    //check and trash
$color-check: #90ee90;
$color-trash: #f08080;
$color-conclud: #00ffbf;
$color-decor: #ED7AFF;